
#Slack app config
SLACK_APP_TOKEN=replaceme123
SLACK_BOT_TOKEN=replaceme123
SLACK_SIGNING_SECRET=replaceme123
CLIENT_ID=replaceme123
CLIENT_SECRET=replaceme123


#Don't touch unless you'd like to manually configure the app
USER_SCOPES=channels:history,groups:history,im:history,mpim:history,chat:write

#Database
DATABASE_URL=replaceme123